<!DOCTYPE html>
<html lang="en">
<head> <!--337ab7 -->
  <title>VAPOR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    

    body {
      background-image: src: "https://p4.wallpaperbetter.com/wallpaper/516/501/310/line-grey-blue-design-metallic-hd-wallpaper-preview.jpg    ";
      
    }

    .panel-primary{
      background-color: slategray;
    }

    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   .active{
   	font-color: white;
   }
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>VAPOR</h1>
    <h3>Username: {{username}}</h3>      
    <p>Check our games!</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">VAPOR</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
      </ul>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div  class="panel panel-primary">
        <div class="panel-heading" >Trends</div>
        <!--<div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2VyJwhcTUbRxxc4UHK2xT384otRA_mwQt-A&usqp=CAU" class="img-responsive" height="450px" width="200px" alt="Image"></div>-->
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2VyJwhcTUbRxxc4UHK2xT384otRA_mwQt-A&usqp=CAU" class="img-responsive" style="width:45%" alt="Image"></div>
        <div class="panel-footer">Here you can find all the new and trendy video games</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Survival Games</div>
        <!--<div class="panel-body"><img src="https://survival-games.cz/styles/assets/images/logo.png" height="200px" class="img-responsive" width="200px" alt="Image"></div> -->
        <div class="panel-body"><img src="https://survival-games.cz/styles/assets/images/logo.png" class="img-responsive" style="width:110%" alt="Image"></div>

        <div class="panel-footer">Survival Game is basicly a game that you have to survive in it, by improving and upgrading yourself</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Multiplayer Games</div>
        <div class="panel-body"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8YQGJzQetqAh4lfBSZk5e5ZUUUbblohJgyA&usqp=CAU" style="width:52%"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Single player games</div>
        <div class="panel-body"><img src="https://games4brains.co.za/wp-content/uploads/2018/05/Single-Player-Icon.png" class="img-responsive" style="width:50%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Open World Games</div>
        <div class="panel-body"><img src="https://banner2.cleanpng.com/20180926/lbl/kisspng-world-map-globe-computer-icons-vector-graphics-nyhus-communications-pr-public-affairs-executi-5bac1732e301a3.2786637415380047869298.jpg" height="450px" width="200px" class="img-responsive" style="width:77%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Battle Royal Games</div>
        <div class="panel-body"><img src="https://www.kindpng.com/picc/m/166-1663898_battle-royale-logo-png-emblem-transparent-png.png" height="450px" width="200px" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <h1>Contact VAPOR</h1>
  <h4>VAPOR.asd@gmail.com</h4>
  </form>
</footer>

</body>
</html>
	