<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8"> </META>x
    <style></style>
</head>
<body>
    
<div>
    <form method="post" action="/signup" >

        <h4>
            Create an account
        </h4>
        <p>
            Please fill up your information below to sign up.
        </p>
        <div>
            <label>Email address*</label>
            <div>
                <input type="email" name="email" id="m_emailStr">
            </div>
        </div>
        <div>
            <label>Password*</label>
            <div class="m_input-group">
                <input type="password" name="password">
            </div>
        </div>
        <div>
            <label>Full name*</label>
            <div>
                <input type="name" name="name" id="m_name">
            </div>
        </div>
        <div>
            <label>Username*</label>
            <div>
                <input type="username" name="username" id="m_username">
            </div>
        </div>
        <div>
            <label>bio</label>
            <div>
                <input type="bio" name="bio" id="m_bio" maxlength="280">
            </div>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
    <br>
    <a href="/" rel="noreferrer"><button>signin</button></a>
</div>
</body></html> 